.header__logo {
    margin-top: 28px;
    font-size: 0;
    width: 14.87%;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .header__logo {
        margin-top: 16px;
        width: 142px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .header__logo {
        margin-top: 28px;
        width: 176px;
    }
}