@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__text/cover__text.css);

.cover {
    max-width: 1184px;
    margin: auto;
    position: relative;
    margin-bottom: 92px;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .cover {
        width: 100%;
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .cover {
        width: 100%;
        margin-bottom: 88px;
        }
}

@media screen and (max-width: 1184px) and (min-width: 1024px) {
    .cover {
        width: 100%;
        margin-bottom: 92px;
        }
}
