.lead__image-main {
    width: calc(100% - 296px);
    max-width: 1184px;
}

@media screen and (max-width: 1024px) and (min-width: 320px) {
    .lead__image-main {
        width: 100%;
    }
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .lead__image-main {
        width: 90.63%;
        max-width: 1184px;
    }
}
